* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border-style: dashed; */
}

body {
    display: grid;
}

figcaption {
    display: none;
}

footer {
    display: grid;
}

html {
    margin: 0;
    height: 100%;
    width: 100%;
    --light: #CDEDF6;
    --mid: #5EB1BF;
    --dark: #001230;
    --deep-blue: #08325C;
    --light-accent: ##65DEF1;
    --bright-accent: #FF8C59;
    
    color: var(--mid);
    font: 20px/1
}

img {
border-radius: 50%;
}

main {
    display: grid;
    grid-template-columns: 2fr 0.5fr 5fr;
}

/* App Specific Styles */

.container {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    order: 3;
}

.main-header {
    display: grid;
    grid-template-columns: 2fr 5fr;
    background-image: linear-gradient(to right, rgb(8, 50, 92), rgb(94, 177, 191), rgb(205, 237, 246))
}

.main-header__photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.sidebar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}