* {
  /* font-family: "Anonymous Pro", monospace;
    font-family: "Raleway", sans-serif; */
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: #f8f8ef;
  height: 100vh;
}

h1 {
  color: #ff8882;
  font-family: "Anonymous Pro", monospace;
}

h3 {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

h4 {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

.blue-circle {
  z-index: 1;
  width: 200px;
  height: 200px;
  background-color: #00c4cc;
  opacity: 0.19;
  position: absolute;
  left: 25%;
  top: 50%;
  /* margin-top: -100px; */
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-content: center;
}

/* .blue-circle:hover {
  transform: scale(1.5);
  transition: transform 200ms;
} */

.wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
}
