* {
  font-family: "Anonymous Pro", monospace;
  font-family: "Raleway", sans-serif;
  margin: 20px;
}

body {
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 40px 50px auto 50px 40px;
  background-color: #f8f8ef;
  height: 100vh;
}

h1 {
  color: #ff8882;
  font-family: "Anonymous Pro", monospace;
  margin: 0;
}

h3 {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin: 0;
}

h4 {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 0;
}

.blue-circle {
  z-index: 1;
  width: 200px;
  height: 200px;
  background-color: #00c4cc;
  opacity: 0.19;
  border-radius: 50%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  justify-self: center;
  align-self: center;
  margin: 0;
  transform: scale(1);
  transition: transform 200ms;
  transition-delay: 0s;
}

.blue-circle:hover {
  transform: scale(1.5);
  transition: transform 200ms;
  transition-delay: 0s;
}

.logo-wrapper__text {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 42px);
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  justify-self: center;
  align-self: center;
  justify-items: center;
  align-items: center;
  margin: 0;
}
